<!-- <div class="trip-post-container">
  <div class="trip-post-content-container">
    <div class="trip-title-container">
      <h2 class="trip-post-tite">Trip to {{location}}</h2
    </div>
    <div class="trip-dates-container">
      <h2 class="trip-dates">Start date: {{startDate}} End date: {{endDate}}</h2>
    </div>
    <div class="trip-time-container">
      <h2 class="trip length">Trip length: {{time}} days</h2>
    </div>
    <div class="trip-photo-container">
      <img src="{{tripPhoto}}">
    </div>
    <div class="trip-notes-title-container">
      <h2 class="notes-title">Notes:</h2>
    </div>
    <div class="notes-container">
      <p class="notes">{{notes}}</p>
    </div>
  </div>
</div> -->

<div class="trip" data-title={{location}} data-lat={{latitude}} data-long={{longitude}}>
  <div class="trip-contents">
    <div class="trip-image-container">
      <img src={{tripPostImage}}>
    </div>
    <div class="trip-info-container">
      Trip to: <button type="button" id="0" class="trip-title">{{location}}</button>
      <div class="trip-date">{{tripStartDate}} to {{tripEndDate}}</div>
            <div class="trip length">Trip length: {{time}} days</div>
      <div class="trip-location">{{location}}</div>
    </div>
  </div>
</div>
