<div class="trip-post-container">
  <div class="trip-post-content-container">
    <div class="trip-dates-container">
      <h2>Start date: {{startDate}} End date: {{endDate}}</h2>
    </div>
    <div class="trip-time-container">
      <h2>Trip length: {{tripLength}} </h2>
    </div>
    <div class="trip-photo-container">
      <img src="{{tripPhoto}}">
    </div>
    <div class="trip-notes-title-container">
      <h2>Notes:</h2>
    </div>
    <div class="notes-container">
      <p>{{notes}}</p>
    </div>
  </div>
</div>
